<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiLogin" value="ApiLogin"/>
    <add key="TransactionKey" value="TransactionKey"/>
    <add key="ApiLoginCP" value="ApiLoginCP"/>
    <add key="TransactionKeyCP" value="TransactionKeyCP"/>
  </appSettings>
</configuration>
