<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="api.login.id" value="7NR4gJURj4g" />
        <add key="transaction.key" value="7tA2nHk878u7Uw9q" />
        <add key="md5.hash.key" value="Simon" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
