<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value ="SANDBOX"/>
    <!--<add key="api.login.id" value="3zXh8GJ96AN" />
    <add key="transaction.key" value="5xSTH7e2x8758JG3" />-->
    <!--<add key="api.login.id" value="5KP3u95bQpv" />
    <add key="transaction.key" value="4Ktq966gC55GAX7S" />-->
    
    <!--<add key="api.login.id" value="mbld_api_%i37qV3t" />-->
    <!--<add key="api.login.id" value="mbld_api_%S9x7QG7"/>-->
    <add key="api.login.id" value="mbld_api_-NPA5n9k"/>
    <add key="transaction.key" value="123abc" />

    <add key="md5.hash.key"        value=""/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>

